body {
    font-family: cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
.container {
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 16px;
    height: auto;
    width: auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    cursor: pointer;
    gap: 0.65rem;
}
.firstContainer {
    color: black;
    background-color: green;
    border-radius: 8px;
    border-color: 1px solid blue;
    height:auto;
    width: 150px;
}
.secondContainer {
    color: black;
    background-color: green;
    border-radius: 8px;
    border-color: 1px solid blue;
    height:auto;
    width: 150px;
}