h1,h2,h3 {
 color: grey;
 font-family: Arial;
}
#header {
    background: black;
    font-family: Arial, Helvetica, sans-serif;
    height: 50px;
}
.active {
	background-color: #0099ff;
} 
li {
	float: left;
	border-right:1px solid #bbb;
}
li:last-child {
	border-right: none;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover:not(.active) {
	background-color: #808080;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #000;
}
#container {
    width: 960px;
    margin: 0px; /* Center the DIV horizontally */
    border: 1px solid #000;
    padding: 0px;
    margin: 0px 0px 0px 180px;
}
/* Example theme styles */
body.cc-theme--dark {
	background: #181818;
	color: #f0f0f0;
}
body.cc-theme--light {
	background: #fff;
	color: #222;
}
/* Removed empty rulesets for mediaPlayer-theme--dark and mediaPlayer-theme--light */
